(ns apiary.config)

(def org "your-org")
(def repo "your-repo")
(def auth "your authentication token")

;;This a pretty good one, but you can use something else....
(def effort-estimate-regexp #"Effort Estimate:\s*(\d*)\s*hr") 
